body{
    text-align: center;
    background-color: #bfc6e0;
}

a:link{
    text-decoration: none;
    color: rgb(60, 60, 199);
}

a{
    color: rgb(77, 77, 143);
}

a:hover{
    color: blue;
}
